/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body {
  margin: 0;
  font-family: arial;
}

hr {
  height: 2px;
  margin: auto;
  background-color: black;
  border: 0 none;
  margin: 0;
}

p {
  margin-left: 1.3em;
  margin-right: 1.3em;
}

p.smallBoxText {
  min-height: 75px;
}

button {
  background-color: #805215;
  color: white;
  font-size: 1.6em;
  padding: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #FFDBAA;
}

label {
  text-align: center;
  padding: 5px;
}
.whitespace {
  margin-left: 25%;
}
.navTitle {
  color: #553100;
  justify-content: flex-start;
  font-size: 1.9em;
  font-weight: bold;
  margin: 1.5em;

}

.navButtons {
  justify-content: space-between;
  margin: 1.5em;
}

.content {
  background-color: #D4A76A;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 1.2em;
}
.triRow{
  display: flex;
  justify-content: space-between;
  margin-left: 7em;
  margin-right: 7em;

}

#boxButton {
  width:100%;
  justify-content: flex-end;
  padding: 10px;
}

.smallBoxes {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  margin: 5px;
  width: 25%;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,.3);
}

.fullRow {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.aboutBox{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
  background-color: white;
  padding: 5px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,.3);

}
